@import "@styles/variables";

.builds {
    &-container {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;

        scroll-margin: 7rem;
    }

    &-box {
        &-grid {
            display: grid;
            grid-template-columns: repeat(12, minmax(0, 1fr));
            column-gap: 2rem;
            row-gap: 2rem;
        }
    }
}
