@import '@styles/variables';

.products {
    &-container {
        display: flex;
        flex-direction: column;
        row-gap: 3rem;

        h1 {
            margin: 0;
            padding-top: 0;
        }
    }

    &-box {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        scroll-margin-top: 7rem;

        h2 {
            margin: 0;
            padding: 0;
        }

        &-grid {
            display: grid;
            grid-template-columns: repeat(12, minmax(0, 1fr));
            column-gap: 2rem;
            row-gap: 2rem;
        }
    }

    @media only screen and (max-width: 767px) {
        &-box-grid {
            column-gap: 0;
        }
    }
}
