@import "@styles/variables";

.configure-menu {
    &-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    &-buttons {
        border: 1px solid $color-default;
    }

    &-form {
        cursor: pointer !important;

        position: relative;

        display: flex;
        flex-direction: row;
        align-items: center;

        transition: $standard-transition;

        select {
            position: relative;
            appearance: none;

            padding: 2rem 0 0.8rem 1rem;
            width: 12rem;
            outline: none;
            border: none;
            background: none;

            color: $color-default;
            font-family: inherit;
            font-size: $font-size-medium;
            font-weight: $font-weight-black;
        }

        label {
            pointer-events: none;
            position: absolute;
            top: 0.5rem;
            left: 1rem;

            white-space: nowrap;
            font-size: $font-size-small;
        }

        svg {
            pointer-events: none;

            position: absolute;
            right: 0;
            height: 12px;
            width: 12px;
            padding: 0 1rem 0 1rem;

            svg {
                fill: $color-default;
            }
        }

        &:hover {
            color: $color-primary;

            svg {
                fill: $color-primary;
            }
        }
    }

    &-sort {
        padding-left: 0.5rem;
        display: flex;
        gap: 3rem;
        flex-direction: row;
        align-self: flex-end;

        label {
            font-size: $font-size-medium;
        }

        select {
            font-size: $font-size-medium;
            font-family: inherit;
            border: none;
            outline: none;
        }
    }

    @media only screen and (max-width: 767px) {
        &-container {
            flex-direction: column;
            gap: 0.5rem;
        }

        &-buttons,
        &-sort {
            align-self: flex-start;
        }
    }
}
