@import '@styles/variables';

.nav {
    &-container {
        background-color: $color-white;
    }

    &-list {
        display: flex;
        flex-direction: column;

        &-link {
            width: 100%;

            transition: $standard-transition;

            a {
                display: flex;
                align-items: center;
                flex-direction: column;
                row-gap: 0.3rem;

                padding: 1rem;

                color: $color-default;

                sup {
                    font-size: $font-size-small;
                }
                strong {
                    font-size: $font-size-large;
                }
            }

            &.current {
                border-right: 2px solid $color-primary;
                background-color: $color-primary-transparent;

                a {
                    color: $color-primary;
                }
            }

            &:hover {
                cursor: pointer;
                background-color: $color-primary-transparent;
            }
        }
    }
}
