@import "@styles/variables";

.configure-nav {
    &-list {
        display: flex;
        flex-direction: row;
        overflow-x: hidden;
        padding-bottom: 2px;

        @media only screen and (max-width: 800px) {
            overflow-x: scroll;
        }

        li {
            width: 100%;
            min-width: 10rem;
            transition: $standard-transition;

            div {
                display: flex;
                align-items: center;
                flex-direction: column;
                row-gap: 0.3rem;

                padding: 1rem;

                color: $color-default;

                sup {
                    font-size: $font-size-small;
                }
                strong {
                    font-size: $font-size-large;
                }
            }

            &.current {
                box-shadow: 0 2px 0 0 $color-primary;
                background-color: $color-primary-transparent;

                a {
                    color: $color-primary;
                }
            }

            &:hover {
                cursor: pointer;
                background-color: $color-primary-transparent;

                a {
                    color: $color-primary;
                }
            }
        }
    }
}
