@import "@styles/variables";

.products-card {
    &-wrapper {
        position: relative;
        grid-column: span 4;

        &::before,
        &::after {
            left: 0;
            top: 0;
            border-radius: 4px;
            content: "";
            position: absolute;

            height: calc(100%);
            width: calc(100%);
            background: linear-gradient(to right, #eb39ff, #6d1eff);
            filter: blur(1px) saturate(200%);

            transition: 300ms ease-out;
            transform: scale(0.8);
            z-index: -1;
        }

        &::after {
            filter: blur(10px) saturate(200%);
        }

        &:hover {
            &::before,
            &::after {
                transform: scale(0.7, 1.1) skewX(-10deg) translate(4px, -4px);
            }
        }

        @media only screen and (max-width: 991px) {
            grid-column: span 6;
        }

        @media only screen and (max-width: 767px) {
            grid-column: span 12;
        }
    }

    &-box {
        border: none;

        border-radius: 2px;
        padding: 2rem 3rem;
        background-color: rgba(255, 255, 255, 0.65);
        backdrop-filter: blur(10px);

        img {
            display: none;
            object-fit: contain;
            height: 10rem;
        }

        a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
            color: $color-default;
            position: relative;

            h3 {
                margin: 0.5rem 0;
            }

            p {
                margin-top: 0.7rem;
                padding-top: 1rem;
            }
        }
    }
}
