@import '@styles/variables';

.nav {
    &-container {
        background-color: $color-white;
    }
    &-list {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 0;

        &-link {
            transition: $standard-transition;
            width: 100%;

            a {
                cursor: pointer;
                padding: 1rem;
                display: flex;
                align-items: center;
                flex-direction: column;
                row-gap: 6px;
                text-decoration: none;
                color: $color-default;

                sup {
                    margin: 0;
                    font-size: small;
                }
                strong {
                    margin: 0;
                    font-size: large;
                }
            }

            &.current {
                background-color: $color-primary-transparent;
                border-right: 2px solid $color-primary;

                a {
                    color: $color-primary;
                }
            }
        }
    }
}
