@import '@styles/variables';

.mobile-header {
    &-background {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;

        z-index: 100;
        background-color: #0000009a;
        opacity: 0;

        transform: scale(0);
        transition: opacity 200ms ease;
        cursor: pointer;
    }

    &-menu {
        transform: translateX(120%);

        position: fixed;
        top: 0;
        right: 0;
        width: 200px;
        height: 100vh;
        z-index: 101;
        padding: 0 2rem;

        display: flex;
        flex-direction: column;
        gap: 1rem;

        background-color: #fff;

        transition: $standard-transition;

        &-top {
            height: 5rem;
            display: flex;
            align-items: center;

            button {
                stroke: $color-default;
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding-left: 0.5rem;

            li a {
                color: $color-default;
                font-size: $font-size-medium;
                font-weight: $font-weight-bold;

                display: flex;
                flex-wrap: wrap;

                transition: $standard-transition;

                small {
                    color: $color-secondary;
                    font-size: $font-size-small;
                }

                &:hover {
                    cursor: pointer;
                    color: $color-primary;
                }
            }
        }
    }
}
