@import "@styles/variables";

.items {
    &-container {
    }

    &-grid {
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        column-gap: 2rem;
        row-gap: 2rem;

        transition: $standard-transition;
    }

    @media only screen and (max-width: 570px) {
        &-grid {
            column-gap: 0;
        }
    }
}
