@import '@styles/variables';

.filters {
    &-container {
    }

    &-list {
        display: flex;
        flex-direction: column;
        // padding: 2rem;

        li {
            height: 2rem;
            width: 100%;
            border-top: 1px solid $color-default;
        }
    }
}
