@import "@styles/variables";

.filters {
    &-container {
    }

    &-list {
        display: flex;
        flex-direction: column;

        li {
        }

        &__button {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.8rem;
            height: 2rem;
            // width: 100%;
            border-top: 1px solid $color-default-light;

            font-size: $font-size-medium;

            h3 {
                pointer-events: none;
            }
            svg {
                pointer-events: none;
                height: 20px;
                stroke: $color-default;
            }
        }

        &__dropdown {
            padding: 0 1rem;
            margin-bottom: 2rem;

            form {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                input,
                label {
                    font-size: large;
                }

                input[type="number"] {
                    box-sizing: border-box;
                    width: 100%;
                }
            }
        }
    }

    &-slider {
        div {
            margin-top: 20px;
            height: 6px;
            width: 100%;
            background-color: #1510443a;
            position: relative;
            border-radius: 2px;

            span {
                left: 0;
                cursor: pointer;
                position: absolute;
                height: 22px;
                width: 10px;
                top: -8px;
                border-radius: 2px;
                background-color: $color-primary;
            }
        }
    }
}
