@import '@styles/variables';

main {
    z-index: 1;
}

.configure {
    &-container {
        margin-top: 2rem;
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 6rem;
        padding-bottom: 2rem;
    }

    &-nav {
        background-color: $color-white;
    }

    &-menu {
        margin-top: 2rem;
        padding: 0 1rem;

        background-color: $color-white;
    }

    &-content {
        margin-top: 1rem;

        padding: 0 1rem;
        z-index: 1;
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 3rem;

        &-filters {
            background-color: $color-white;
            grid-column: span 1;
        }

        &-items {
            grid-column: 2 / span 3;
        }
    }

    @media only screen and (max-width: 991px) {
        &-container {
            padding-left: 4rem;
            padding-right: 4rem;
        }

        &-content {
            &-items {
                grid-column: span 4;
            }

            &-filters {
                display: none;
            }
        }
    }

    @media only screen and (max-width: 767px) {
        &-container {
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
}
