@import '@styles/variables';

main {
    z-index: 1;
}

.configure {
    &-container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 3rem;

        max-width: 1440px;
        margin: 0 auto;
        padding: 2rem 6rem;

        nav {
            position: sticky;
            top: 7rem;

            align-self: flex-start;
            grid-column: span 1;
            transition: $standard-transition;
        }
    }

    &-items {
        grid-column: 2 / span 1;
    }

    @media only screen and (max-width: 991px) {
        &-container {
            padding-left: 4rem;
            padding-right: 4rem;
        }
    }

    @media only screen and (max-width: 767px) {
        &-container {
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
}
