@import '@styles/variables';

header {
    display: block;
    position: sticky;
    top: 0;
    background-color: $color-white;
    box-shadow: 0 1px 0 0 $color-default;

    z-index: 3;
}

.header {
    &-container {
        align-items: center;
        display: flex;

        height: 5rem;
        max-width: 1440px;
        padding: 0 6rem;
        margin: 0 auto;
    }

    &-bar {
        align-items: center;
        display: flex;
        flex-direction: row;

        width: 100%;
        // height: 100%;

        &__item {
            margin: 0 0.5rem;
            transition: $standard-transition;

            &-link {
                display: inline-flex;
                color: $color-default;
                font-weight: $font-weight-medium;
                font-size: $font-size-large;
                font-family: inherit;
                line-height: 1.5;
                padding: 0.5rem 0;

                &:hover {
                    cursor: pointer;
                    color: $color-primary;

                    svg {
                        fill: $color-primary;
                    }
                }
            }

            &-logo {
                margin-left: 0;
                a {
                    font-weight: $font-weight-black;
                }
            }

            &-icon {
                &.header-search {
                    margin-left: auto;
                }

                button {
                    svg {
                        width: 24px;
                        stroke: $color-default;
                    }

                    &:hover {
                        svg {
                            stroke: $color-primary;
                        }
                    }
                }
            }

            &:last-of-type {
                margin-right: 0;
            }

            &-calc {
                button {
                    display: flex;
                    align-items: center;
                    column-gap: 0.4rem;

                    svg {
                        padding-top: 2px;
                        width: 12px;
                        height: 12px;
                        fill: $color-default;
                    }
                }
            }

            &-icon-menu,
            &-calc-menu {
                display: none;
                position: absolute;
                top: 4rem;
                background-color: $color-white;
                border: 1px solid $color-default;
                border-radius: 2px;
                transition: $standard-transition;
            }

            &-icon-menu {
                translate: calc(-100% + 40px);
                padding: 1rem;

                &-content {
                    width: max-content;
                    display: flex;
                    flex-direction: column;
                    row-gap: 2rem;

                    ul {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        row-gap: 1rem;

                        span {
                            color: $color-default;
                            font-weight: $font-weight-bold;
                        }
                    }
                }
            }

            &-calc-menu {
                padding: 1rem;

                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    row-gap: 1rem;

                    li > a {
                        display: flex;
                        flex-direction: column;

                        span {
                            color: $color-default;
                            font-weight: $font-weight-bold;
                        }

                        small {
                            color: $color-secondary;
                            font-size: $font-size-small;
                        }

                        &:hover {
                            span {
                                color: $color-primary;
                            }
                        }
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 991px) {
        &-container {
            padding: 0 4rem;
        }
    }

    @media only screen and (max-width: 767px) {
        &-container {
            padding: 0 2rem;
        }
    }
}

.mobile-header {
    width: 100%;
    display: none;

    @media only screen and (max-width: 991px) {
        display: block;
    }
}

.desktop-header {
    width: 100%;
    display: block;

    @media only screen and (max-width: 991px) {
        display: none;
    }
}
