@import "@styles/variables";

header {
    display: block;
    position: sticky;
    top: 0;
    background-color: $color-white;
    box-shadow: 0 0px 12px 1px $color-default-transparent;
    transition: 200ms;
    z-index: 3;
}

.header {
    &-container {
        display: flex;
        align-items: center;

        height: 5rem;
        max-width: 1440px;
        padding: 0 6rem;
        margin: 0 auto;

        @media only screen and (max-width: 991px) {
            padding: 0 4rem;
        }

        @media only screen and (max-width: 767px) {
            padding: 0 2rem;
        }
    }

    &-bar {
        display: flex;
        flex-direction: row;
        align-items: center;

        width: 100%;

        &__item {
            margin: 0 0.5rem;
            transition: $standard-transition;

            &-link {
                display: inline-flex;
                padding: 0.5rem 0;

                color: $color-default;
                font-weight: $font-weight-medium;
                font-size: $font-size-large;
                font-family: inherit;
                line-height: 1.5;

                transition: $standard-transition;

                &:hover {
                    cursor: pointer;
                    color: $color-primary;

                    svg {
                        fill: $color-primary;
                    }
                }
            }

            &.header-logo {
                margin-left: 0;
                a {
                    font-weight: $font-weight-black;
                }
            }

            #button-account {
                cursor: pointer;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                border: 1.5px solid #33333312;
                overflow: hidden;
                img {
                    pointer-events: none;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }

            &.header-search {
                margin-left: auto;

                #search-icon-svg0 {
                    pointer-events: none;
                    position: absolute;
                    // z-index: -1;
                    stroke: $color-default;
                }

                .fade-out {
                    animation: fade 1.2s ease forwards;
                }

                @keyframes fade {
                    0% {
                        opacity: 1;
                    }
                    100% {
                        opacity: 0;
                    }
                }
            }

            &.header-menu,
            &.header-register {
                margin-right: 0;
            }

            &.header-menu {
                display: none;
            }

            &-calc {
                button {
                    display: flex;
                    align-items: center;
                    column-gap: 0.4rem;

                    svg {
                        padding-top: 2px;
                        fill: $color-default;
                    }
                }
            }

            &-icon-menu,
            &-calc-menu {
                display: none;
                position: absolute;
                top: 4rem;
                background-color: $color-white;
                box-shadow: 0 0 0 1px $color-default;
                /* border-radius: 2px; */
                transition: $standard-transition;
            }

            &-icon-menu {
                translate: calc(-100% + 40px);
                padding: 1rem;

                &-content {
                    width: max-content;
                    display: flex;
                    flex-direction: column;
                    row-gap: 2rem;

                    ul {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        row-gap: 1rem;

                        li {
                            width: 100%;
                            a {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                span {
                                    color: $color-default;
                                    font-weight: $font-weight-bold;
                                }

                                svg {
                                    margin-right: 1rem;
                                    stroke: $color-default;
                                    stroke-width: 1.5px;
                                    width: 24px;
                                    fill: none;
                                }

                                button {
                                    border-radius: 2px;
                                    width: 100%;
                                    padding: 0.7rem;

                                    span {
                                        font-size: 1rem;
                                        font-weight: $font-weight-bold;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &-calc-menu {
                padding: 1rem;

                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    row-gap: 1rem;

                    li > a {
                        display: flex;
                        flex-direction: column;

                        span {
                            color: $color-default;
                            font-weight: $font-weight-bold;
                        }

                        small {
                            color: $color-secondary;
                            font-size: $font-size-small;
                        }

                        &:hover {
                            span {
                                color: $color-primary;
                            }
                        }
                    }
                }
            }
        }
    }

    &-menu {
        position: relative;
    }
}

.desktop-header {
    width: 100%;

    @media only screen and (max-width: 991px) {
        .header-register {
            display: none;
        }

        .header-bar__item:nth-child(2),
        .header-bar__item:nth-child(3),
        .header-bar__item:nth-child(4),
        .header-bar__item:nth-child(5) {
            display: none;
        }

        .header-menu {
            display: block;
        }
    }
}
