@import "@styles/variables";

footer {
    border-top: 1px solid $color-default;
}

.footer {
    &-container {
        max-width: 1440px;
        padding: 0 6rem;
        margin: 0 auto;
    }

    &-mainSection {
        display: flex;
        flex-direction: row;
        align-items: start;

        padding: 2rem 0;

        &-left,
        &-right {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 2rem;

            color: $color-default;

            h3,
            h4 {
                font-weight: $font-weight-medium;
            }

            ul {
                li {
                    a {
                        color: $color-default;
                        &:hover {
                            color: $color-primary;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        &-left {
            &-social {
                --w: 22px;
                max-width: calc(var(--w) * 6 + 2rem);

                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 1rem;

                .footer-svg {
                    width: calc(2 * var(--w));
                    height: calc(2 * var(--w));
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 4px;
                    overflow: hidden;
                    position: relative;

                    &:before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        background-color: $color-default;
                        transform: translateY(-120%);
                        transition: 0.4s ease;
                        z-index: -1;
                    }

                    svg {
                        width: var(--w);
                        fill: $color-default;
                        transition: 0.4s ease;
                    }

                    &:hover {
                        &:before {
                            transform: translateY(0);
                        }
                        svg {
                            fill: $color-white;
                        }
                    }
                }
            }
        }

        &-right {
            padding-left: 2rem;
            border-top: none;
            border-left: 1px solid $color-default;

            h3 {
                grid-column: span 1;
            }
            .contacts {
                grid-column: 2 / span 3;
            }

            ul li {
                padding-top: 0.5rem;
            }
        }

        @media only screen and (max-width: 767px) {
            &-left {
                padding-bottom: 2rem;
            }

            &-right {
                padding-left: 0;
                padding-top: 2rem;
                border-left: none;
                border-top: 1px solid $color-default;
            }
        }
    }

    &-groundSection {
        display: flex;
        border-top: 1px solid $color-default;
        flex-direction: row;
        padding: 1rem 0;
        justify-content: space-between;

        &-policy {
            ul {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                li {
                    a {
                        color: $color-default;
                        font-weight: $font-weight-medium;
                    }
                    &:not(:last-of-type)::after {
                        content: "|";
                        font-weight: $font-weight-medium;
                        margin: 0 0.5rem;
                        font-size: $font-size-medium;
                    }

                    &:hover {
                        a {
                            color: $color-primary;
                        }
                    }
                }
            }
        }

        &-made {
            display: flex;
            color: $color-default;
            justify-content: center;
            align-items: center;

            @media only screen and (max-width: 767px) {
                padding-top: 0.5rem;
            }
        }
    }

    @media only screen and (max-width: 991px) {
        &-container {
            padding: 0 4rem;
        }
    }

    @media only screen and (max-width: 767px) {
        &-container {
            padding: 0 2rem;
        }

        &-mainSection,
        &-groundSection {
            flex-direction: column;
        }
    }
}
