@import "@styles/variables";

.products {
    &-container {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;

        scroll-margin: 7rem;
    }

    &-box {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;

        &-grid {
            position: relative;

            display: grid;
            grid-template-columns: repeat(12, minmax(0, 1fr));
            column-gap: 2rem;
            row-gap: 3rem;
        }
    }

    @media only screen and (max-width: 767px) {
        &-box-grid {
            column-gap: 0;
        }
    }
}
