$color-white: #ffffff;

$color-default: #0b091c;
$color-default-light: #86868680;
$color-default-transparent: #0b091c59;

$color-secondary: #707382;

$color-primary: #5231ff;
$color-primary-hover: #431d80;
$color-primary-active: #651db8;
$color-primary-transparent: #5331ff1f;

$color-warning: #db2455;

// ----------------------------------------------

$standard-transition: all 300ms ease;

// ----------------------------------------------

$font-size-small: 0.9rem;
$font-size-medium: 1rem;
$font-size-large: 1.2rem;

$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;
