$color-white: #ffffff;

$color-default: #0b091c;
$color-default-light: #86868680;

$color-primary: #5026c4;
$color-primary-hover: #664ce6;
$color-primary-transparent: #5026c415;

$standard-transition: all 200ms ease;
