$color-white: #ffffff;

$color-default: #0b091c;
$color-default-light: #86868680;

$color-primary: #5026c4;
$color-primary-hover: #664ce6;
$color-primary-active: #2e1b8f;
$color-primary-transparent: #6733f510;

$standard-transition: all 200ms ease;
