@import '@styles/variables';

body {
    font-family: 'Satoshi', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

a,
h1,
h2,
h3,
h4,
ul,
ol,
li,
button {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

button {
    background: none;
    border: none;
}

.button {
    &-default {
        height: 40px;
        min-width: 40px;
        padding: 0.25rem 1rem;
        border-radius: 4px;

        background-color: $color-primary;
        color: $color-white;

        font-size: $font-size-large;
        font-weight: $font-weight-medium;

        transition: $standard-transition;
        cursor: pointer;

        &:hover {
            background-color: $color-primary-hover;
        }

        &:active {
            background-color: $color-primary-active;
            transform: translate(2px, -2px);
        }
    }

    &-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        width: 40px;
        height: 40px;
        padding: 0.25rem 0.25rem;
        border-radius: 4px;

        background-color: $color-white;

        transition: $standard-transition;

        svg {
            stroke: $color-default;
        }

        &:hover {
            cursor: pointer;
            background-color: $color-primary-transparent;

            svg {
                stroke: $color-primary;
            }
        }
    }
}

.card {
    background-color: $color-white;
    border: 1px solid $color-default;

    transition: $standard-transition;

    &:hover {
        transform: translate(4px, -4px);
        box-shadow: -8px 8px 0 $color-default;
    }
}
