@import "@styles/variables";

body {
    font-family: "Satoshi", sans-serif;
    margin: 0;
    overflow-x: hidden;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
button {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

button {
    font-family: inherit;
    background: none;
    border: none;

    &:active,
    &:focus {
        -webkit-tap-highlight-color: transparent;
    }
}

.button {
    &-disabled {
        pointer-events: none;
        background-color: #cccccc !important;
    }

    &-default {
        position: relative;
        height: 40px;
        min-width: 40px;
        padding: 0.25rem 1rem;

        font-size: $font-size-large;
        font-weight: $font-weight-medium;

        transition: $standard-transition;
        cursor: pointer;

        span {
            color: $color-white;
            z-index: 2;
        }
    }

    &-shop {
        cursor: pointer;

        border-radius: 2px;
        /* border: 2px solid $color-default; */
        background-color: #1510441a;

        min-width: 40px;
        padding: 1rem;

        transition: all 200ms ease;

        span {
            font-size: $font-size-small;
            font-weight: $font-weight-bold;
            color: $color-default;
        }

        &:hover {
            background-color: $color-primary-transparent;
        }
    }

    &-clear {
        cursor: pointer;
        min-width: 40px;
        padding: 0.5rem;

        span {
            font-size: $font-size-small;
            font-weight: $font-weight-medium;
            color: $color-default;
        }
    }

    &-animated {
        position: relative;
        height: 40px;
        min-width: 40px;
        padding: 0.25rem 1rem;

        font-size: $font-size-large;
        font-weight: $font-weight-medium;

        transition: $standard-transition;
        cursor: pointer;

        span {
            color: $color-white;
        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background-color: $color-primary;
            z-index: -1;
            border-radius: 2px;
        }

        &::after {
            content: "";
            border-radius: 2px;
            background-color: $color-default;
            opacity: 0.7;
            position: absolute;

            left: 0;
            top: 0;
            height: 100%;
            width: 0%;
            z-index: -1;
            transition: $standard-transition;
        }

        &:hover {
            &::after {
                width: 100%;
            }
        }

        &:active {
            &::before {
                background-color: $color-default;
            }
        }
    }

    &-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        width: 40px;
        height: 40px;
        padding: 0.25rem 0.25rem;
        border-radius: 4px;

        background-color: $color-white;

        transition: $standard-transition;

        svg {
            pointer-events: none;
            stroke: $color-default;
        }

        &:hover {
            cursor: pointer;
            background-color: $color-primary-transparent;

            svg {
                stroke: $color-primary;
            }
        }
    }
}

.card {
    background-color: $color-white;
    border: 1px solid $color-default;

    transition: transform 200ms ease-in-out;

    &:hover {
        transform: translate(4px, -4px);
        // box-shadow: -8px 8px 0 $color-default;
    }
}

.card2 {
    background-color: $color-white;
    box-shadow: -2px 2px 16px $color-default-transparent;

    transition: transform 200ms ease-in-out;

    &:hover {
        transform: translate(4px, -4px);
    }
}
