@import '@styles/variables';

.captcha-container {
    min-width: fit-content;
    max-width: 300px;
    padding: 0 2rem;
    margin: 4rem auto;
}

#captcha {
    padding: 2rem;
    transform: none;
    box-shadow: -2px 2px 16px $color-default-transparent;

    form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        width: 100%;

        #captcha-str {
            letter-spacing: 5px;
            font-weight: bold;
        }

        input {
            height: 2rem;
            box-sizing: border-box;
            width: 100%;
        }
    }

    .animated {
        animation: shake 0.4s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    }

    @keyframes shake {
        from,
        to {
            transform: translate3d(0, 0, 0);
        }

        20%,
        60% {
            transform: translate3d(-3px, 0, 0);
        }

        40%,
        80% {
            transform: translate3d(3px, 0, 0);
        }
    }

    .shake {
        animation-name: shake;
    }
}
